$color-brand: #1a73e8; // Brand Color
$color-text: #323232; // Text Grey
$color-background: #fff;
$white: #fff;
$black: #000;

$color-2: #262626; // Text Normal,Icons & Logo Color
$color-2B: #767676;
$color-3: #999999; // Text Light
$color-4: #b2b2b2; // Line
$color-4A: #e4e4e4;
$color-5: #fafafa; // Content Workshop & Backgruond Menu
$color-5A: #f2f2f2;
$color-6: #efefef; // Light Grey

$font-mono-g: 'Inconsolata', monospace;
$font-mono: 'Fira Mono', monospace;
$font: 'Helvetica', sans-serif;

$light: 100;
$regular: 400;
$medium: 500;
$bold: 700;
