$color-brand: #1a73e8; // Brand Color
$color-brand-bg: #e7f0fe; //
$color-text: #484848; // Text Grey
$color-background: #fff;
$white: #fff;
$black: #000;

$color-2: #262626; // Text Normal,Icons & Logo Color
$color-2B: #767676;
$color-3: #999999; // Text Light
$color-4: #b2b2b2; // Line
$color-4A: #e4e4e4;
$color-5: #fafafa; // Content Workshop & Backgruond Menu
$color-5A: #f2f2f2;
$color-6: #efefef; // Light Grey

$font-1: 'Open Sans' !important, 'Heebo', sans-serif;
$font-2: 'Frank Ruhl Libre', sans-serif;

$light: 200 !important;
$regular: 400 !important;
$medium: 600 !important;
$bold: 700 !important;
